<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{url_for('static', filename = 'js/index.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/all.css')}}">
    <title>Document</title>
</head>

<body>
    <h1 class="title">SPM CO Finder v0.11</h1>
    <div class="form">
        <form action="/uploader" method="POST" enctype="multipart/form-data">
            <p class="form_item">Upload Your Image Here: </p>
            <div class="input">
            <input class="form_btn" type="file" name="img" accept=".jpg,.png"><input class="form_btn" type="submit" />
            </div>
        </form>
    </div>
    <div class="annotate">
    <p >Other useful tools you may concern:</p>
    <p><a href="https://github.com/CoccaGuo/sxm-viewer">sxm-viewer</a>:a PyQt5 based tool for inspecting *.sxm files and save them as figures swiftly.</p>
    <p><a href="https://github.com/CoccaGuo/sxm-converter">sxm-converter</a>:a tool aims to convert .sxm files to .png/.jpg(picture) files easily.</p>
    <p>version information:</p>
    <p>2020.12.30 version 0.11 训练2000次，略微改善了识别的效果。</p>
    <p>2020.12.28 version 0.1 此数据集训练次数仅1200次，意义在于检测机器学习引擎接口是否可用。</p>
    <p>By Cocca Guo</p>
    </div>
</body>

</html>